.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.section-one {
  background-color: rgb(187, 250, 229);
  padding-bottom: 3rem;
}

.section-two {
  padding-bottom: 3rem;
}

.section-three {
  background-color: rgb(187, 250, 229);
  padding-bottom: 3rem;
}

.section-four {
  padding-bottom: 3rem;
}

.section-five {
  background-color: rgb(187, 250, 229);
  padding-bottom: 3rem;
}

.custom-pill {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 8px;
  background: #fff;
  color: #046b4e;
  border: 1px solid #046b4e;
  border-radius: 9px;
}

.custom-btn {
  background-color: #046b4e;
  color: #fff;
  padding: 5px 8px;
  margin: 2px;
  margin-top: 8px;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.featurette-image {
  animation: slideLeft 1s ease-in-out forwards;
}

.page-head {
  animation: slideRight 1s ease-in-out forwards;
}

@keyframes pillAnimate {
  from {
    transform: scale(1.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pill-animate {
  animation: pillAnimate 0.2s ease-in-out;
}

.nav-link,
.navbar-brand {
  color: #046b4e;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: #046b4e;
}

.card-img-container {
  width: 215px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-wordle {
  background-image: url("../assets/wordle.png");
}

.background-gg {
  background-image: url("../assets/gardenersguide.png");
}

.background-planes {
  background-image: url("../assets/planespotter.png");
}

.background-pass {
  background-image: url("../assets/passport.png");
}

.background-headshot {
  margin-top: 35px;
  background-image: url("../assets/headshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 450px;
  height: 450px;
  border-radius: 110px 10px 110px 10px;
}
