.section-one {
  background-color: rgb(187, 250, 229);
  padding-bottom: 3rem;
}

.section-two {
  padding-bottom: 3rem;
}

.section-three {
  background-color: rgb(187, 250, 229);
  padding-bottom: 3rem;
}

.section-four {
  padding-bottom: 3rem;
}

.section-five {
  background-color: rgb(187, 250, 229);
  padding-bottom: 3rem;
}

.custom-pill {
  font-weight: 400;
  font-size: 14px;
  padding: 6px 14px;
  background: #fff;
  color: #046b4e;
  border: 1px solid #046b4e;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.featurette-image {
  animation: slideLeft 1.5s ease-in-out forwards;
}

.page-head {
  animation: slideRight 1.5s ease-in-out forwards;
}

@keyframes pillAnimate {
  from {
    transform: scale(1.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pill-animate {
  animation: pillAnimate 0.2s ease-in-out;
}

.nav-link,
.navbar-brand {
  color: #046b4e;
}
